.expense-prop{
    max-width: 300px;
    min-width: 300px;
    text-align:end;
    /* margin-left:250px; */
}

.expense-header{
    max-width: 300px;
    min-width: 300px;
    text-align: end;
}


.expense-container{
    margin-top: 10px;
    display: flex;
}

.expense-header-container{
    margin-top: 10px;
    display: flex;
    margin-left: 32px;
}

.edit {
    height:30px;
    width:60px;
    padding-bottom: 15px;
    margin-left: 10px;
}